
<form (ngForm)="form">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('name')}">
                    <label class="form-label">{{ T.Food.Label.Name }}</label>
                    <input type="text" pInputText class="form-control form-control-sm" name="name" [(ngModel)]="form.name">
                    <ui-error name="name" [form]="form" *ngIf="form.hasControlError('name')"></ui-error>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('servingSize')}">
                    <label class="form-label">{{ T.Food.Label.ServingSize }}</label>
                    <input type="number" max="" class="form-control form-control-sm" name="servingSize" [(ngModel)]="form.servingSize">
                    <ui-error name="servingSize" [form]="form" *ngIf="form.hasControlError('servingSize')"></ui-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('carbohydrate')}">
                    <label class="form-label">{{ T.Food.Label.Carbohydrate }}</label>
                    <input type="number" max="" class="form-control form-control-sm" name="carbohydrate" [(ngModel)]="form.carbohydrate">
                    <ui-error name="carbohydrate" [form]="form" *ngIf="form.hasControlError('carbohydrate')"></ui-error>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('calorie')}">
                    <label class="form-label">{{ T.Food.Label.Calorie }}</label>
                    <input type="number" class="form-control form-control-sm" name="calorie" [(ngModel)]="form.calorie">
                    <ui-error name="calorie" [form]="form" *ngIf="form.hasControlError('calorie')"></ui-error>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('protein')}">
                    <label class="form-label">{{ T.Food.Label.Protein }}</label>
                    <input type="number" class="form-control form-control-sm" name="protein" [(ngModel)]="form.protein">
                    <ui-error name="protein" [form]="form" *ngIf="form.hasControlError('protein')"></ui-error>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('protein')}">
                    <label class="form-label">{{ T.Food.Label.Fat }}</label>
                    <input type="number" class="form-control form-control-sm" name="fat" [(ngModel)]="form.fat">
                    <ui-error name="fat" [form]="form" *ngIf="form.hasControlError('fat')"></ui-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">          
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:25%">{{ T.Food.Label.Carbohydrate }}</th>
                            <th style="width:25%">{{ T.Food.Label.Calorie }}</th>
                            <th style="width:25%">{{ T.Food.Label.Protein }}</th>
                            <th style="width:25%">{{ T.Food.Label.Fat }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>{{ form.carbohydrate }}</td>
                        <td>{{ form.calorie }}</td>
                        <td>{{ form.protein }}</td>
                        <td>{{ form.fat }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
        <button class="btn btn-success" type="submit" (click)="save()">Save</button>
    </div>
</div>
</form>
