
<div class="overflow-auto h-calc-95 hide-scrollbar">
    <div class="row" *ngIf="isLoading">
        <div class="col-12">
            <div class="loader">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <form (ngForm)="form" *ngIf="!isLoading" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Inquiry Reference #</label>
                    <div class="input-group">
                        {{ form.inquiry.referenceNumber }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('consignee')}">
                    <label class="form-label">Consignee</label><br>
                    <input-select [searchService]="consigneeService" [(model)]="form.consignee" [hideSearch]="true" [params]="consigneeParams"></input-select>
                    <ui-error name="consignee" [form]="form" *ngIf="form.hasControlError('consignee')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('origin')}">
                    <label class="form-label">Origin</label>
                    <div class="input-group">
                        <input type="text" name="origin" class="form-control form-control-sm" placeholder="Enter orgin" [(ngModel)]="form.origin">   
                    </div>
                    <ui-error name="origin" [form]="form" *ngIf="form.hasControlError('origin')"></ui-error> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('destination')}">
                    <label class="form-label">Destination</label>
                    <div class="input-group">
                        <input type="text" name="destination" class="form-control form-control-sm" placeholder="Enter destination" [(ngModel)]="form.destination">   
                    </div>
                    <ui-error name="destination" [form]="form" *ngIf="form.hasControlError('destination')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Cargo Type</label>
                    <div class="input-group">
                        {{ form.inquiry.cargoType.name }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Item Type</label>
                    <div class="input-group">
                        {{ form.inquiry.itemType.name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Delivery Type</label>
                    <div class="input-group">
                        {{ DeliveryType.format(form.inquiry.deliveryType) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('vehicle')}">
                    <label class="form-label">Vehicle</label><br>
                    <input-select [searchService]="vehicleService" [(model)]="form.vehicle" [hideSearch]="true" [params]="vehicleParams" [field]="'plateNumber'" [additionalFields]="[{'label':'Make','field':'make.name'},{'label':'Model','field':'model.name'}]"></input-select>
                    <div *ngIf="form.vehicle">
                        <small><b>Make</b>: {{form.vehicle.make.name}}</small><br>
                        <small><b>Model</b>: {{form.vehicle.model.name}}</small><br>
                    </div>
                    <ui-error name="vehicle" [form]="form" *ngIf="form.hasControlError('vehicle')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('deliveryDate')}">
                    <label class="form-label">Target Delivery Date</label>
                    <div class="input-group">
                        <input type="date" name="deliveryDate" class="form-control form-control-sm" placeholder="Target Delivery Date" [(ngModel)]="form.deliveryDate">
                    </div>
                    <ui-error name="vehicle" [form]="form" *ngIf="form.hasControlError('deliveryDate')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="font-weight-bold field-label">Items</label><br>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="col-5">Name</th>
                            <th class="text-right col-2">Quantity</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let item of form.items; let i = index;">
                            <td>  
                                <input type="text" [name]="i+item.name" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="item.name">
                                <ui-error [name]="i+item.name" [form]="form" *ngIf="form.hasControlError(i+item.name)"></ui-error> 
                            </td>
                            <td class="text-right">  
                                <input type="text" [name]="i+item.quantity.toString()" class="form-control form-control-sm" placeholder="Quantity" [(ngModel)]="item.quantity">
                                <ui-error [name]="item.quantity" [form]="form" *ngIf="form.hasControlError(form.items[i].quantity.toString())"></ui-error> 
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" (click)="removeItem(item)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-sm btn-success" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>