
<div class="overflow-auto h-calc-95 hide-scrollbar">
    <div class="row" *ngIf="isLoading">
        <div class="col-12">
            <div class="loader">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <form (ngForm)="form" *ngIf="!isLoading" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('inquiry_id')}">
                    <label class="form-label">Inquiry Reference #</label>
                    <div class="input-group"*ngIf="!form.isNew">
                            {{ form.inquiry.referenceNumber }}
                    </div>
                    <div class="input-group"*ngIf="form.isNew">
                        <input-select [searchService]="inquiryService" [(model)]="form.inquiry" [modelType]="InquiryFragment" [field]="'referenceNumber'" [hideSearch]="true" [params]="inquiryParams"></input-select>
                        <ui-error name="inquiry_id" [form]="form" *ngIf="form.hasControlError('inquiry_id')"></ui-error> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('consignee_id')}">
                    <label class="form-label">Consignee</label><br>
                    <input-select [searchService]="consigneeService" [(model)]="form.consignee" [modelType]="InquiryFragment" [hideSearch]="true" [params]="consigneeParams"></input-select>
                    <ui-error name="consignee_id" [form]="form" *ngIf="form.hasControlError('consignee_id')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('origin')}">
                    <label class="form-label">Origin</label>
                    <div class="input-group">
                        <input type="text" name="origin" class="form-control form-control-sm" placeholder="Enter orgin" [(ngModel)]="form.origin">   
                    </div>
                    <ui-error name="origin" [form]="form" *ngIf="form.hasControlError('origin')"></ui-error> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('destination')}">
                    <label class="form-label">Destination</label>
                    <div class="input-group">
                        <input type="text" name="destination" class="form-control form-control-sm" placeholder="Enter destination" [(ngModel)]="form.destination">   
                    </div>
                    <ui-error name="destination" [form]="form" *ngIf="form.hasControlError('destination')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Cargo Type</label>
                    <div class="input-group">
                        {{ form.inquiry.referenceNumber != null ? form.inquiry.cargoType.name : BlankDash }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Item Type</label>
                    <div class="input-group">
                        {{ form.inquiry.referenceNumber != null ? form.inquiry.itemType.name : BlankDash }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Delivery Type</label>
                    <div class="input-group">
                        {{ form.inquiry ? DeliveryType.format(form.inquiry.deliveryType) : BlankDash }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('vehicle_id')}">
                    <label class="form-label">Vehicle</label><br>
                    <input-select [searchService]="vehicleService" [(model)]="form.vehicle" [hasError]="form.hasControlError('vehicle_id')" [modelType]="VehicleFragment" [hideSearch]="true" [params]="vehicleParams" [field]="'plateNumber'" [additionalFields]="[{'label':'Make','field':'make.name'},{'label':'Model','field':'model.name'}]"></input-select>
                    <div *ngIf="form.vehicle">
                        <small><b>Make</b>: {{form.vehicle.make.name}}</small><br>
                        <small><b>Model</b>: {{form.vehicle.model.name}}</small><br>
                    </div>
                    <ui-error name="vehicle_id" [form]="form" *ngIf="form.hasControlError('vehicle_id')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" [ngClass]="{'control-error' : form.hasControlError('estimatedDeliveryDate')}">
                    <label class="form-label">Target Delivery Date</label>
                    <div class="input-group">
                        <input type="date" name="deliveryDate" class="form-control form-control-sm" placeholder="Target Delivery Date" [(ngModel)]="form.deliveryDate">
                    </div>
                    <ui-error name="estimatedDeliveryDate" [form]="form" *ngIf="form.hasControlError('estimatedDeliveryDate')"></ui-error> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="font-weight-bold field-label">Items</label><br>
                <ui-error name="shipmentRequestItems" [form]="form" *ngIf="form.hasControlError('shipmentRequestItems')"></ui-error> 
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="col-5">Name</th>
                            <th class="text-right col-2">Quantity</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let item of form.items; let i = index;">
                            <td>  
                                <input type="text" [name]="'shipmentRequestItems'+i+'.name'" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="item.name" (ngModelChange)="onChange()">
                                <ui-error [name]="'shipmentRequestItems.'+i+'.name'" [form]="form" *ngIf="form.hasControlError('shipmentRequestItems.'+i+'.name')"></ui-error> 
                            </td>
                            <td class="text-right">  
                                <input type="number" [name]="'shipmentRequestItems'+i+'.quantity'" class="form-control form-control-sm" placeholder="Quantity" [(ngModel)]="item.quantity" (ngModelChange)="onChange()">
                                <ui-error [name]="'shipmentRequestItems.'+i+'.quantity'" [form]="form" *ngIf="form.hasControlError('shipmentRequestItems.'+i+'.quantity')"></ui-error> 
                            </td>
                            <td>
                                <button type="button" *ngIf="i < form.items.length - 1" class="btn btn-sm btn-danger" (click)="removeItem(item)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-sm btn-success" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>