/* Add these styles to your component's CSS file */

.searchable-select {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.input-group-prepend {
  display: flex;
  align-items: center;
}

.input-group-text {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.options {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add box shadow */
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.option:hover {
  background-color: #f2f2f2; /* Change background color on hover */
}