h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
}
.mt-125 {
    margin-top: 1.25px;
}
.form-label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.control-error input,.control-error select {
  border: 1px solid red;
}
.login, .login-background {
  height: 100vh;
}
.login-form {
  padding: 20px;
  margin-top: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 20px 50px rgba(0, 0, 0, 0.12)
}
@media screen and (min-width: 1024px) {
  .login-form {
    margin: 15px;
    padding: 50px 20px 50px 20px;
    width: 475px;
  }
}
@media screen and (min-width: 768px) {
  .login {
    display: flex;
  }
}
.arrow-up {
  border: solid #2a3084;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.cursor-pointer {
  cursor:pointer;
}
.arrow-down {
  border: solid #2a3084;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.login-background {
  background-color: #2a3084;

}
.login-background .text {
  color:white;
}
.nav-title {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.new-btn {
  height: 30px;
}
.bg-main, .bg-main-btn {
  background-color: #2a3084 !important;
}
.bg-main-btn {
  color: white !important;
}
.loader {
  margin-bottom: 10px;
}
.color-main, .color-main:hover {
  color: #2a3084;
}
.table th{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
td {
  padding: 1px 0.75rem 1px 0.75rem !important;
}
.header:last-child {
  padding-bottom: 5px;
}
.header {
  font-weight: 500;
}
.search-bar {
  max-width: 600px;
}
.w-100 {
  width: 100%;
}
.mh-100 {
  height: 180px;
}
ul li {
  list-style-type: none;
}
.divider-status {
  margin-left: 10px;
  max-width: 3px;
  margin-bottom: 2px;
  margin-top: 2px;
}
a, a:hover, a:visited {
  text-decoration: none !important;
}
.field-label {
  font-size: 13px;
  display: inline-block;
  margin-bottom: 0px;
}
.w-150 {
  min-width: 150px;
}
.w-175 {
  min-width: 175px;
}
.w-200 {
  min-width: 200px;
}
.w-100 {
  min-width: 100px;
}
.w-50 {
  min-width: 50px;
}
.w-25 {
  min-width: 25px;
}