<header>
    <nav class="navbar navbar-expand-md text-white bg-main justify-content-space-between">
        <a class="navbar-brand text-white" href="#">Logo Here</a>
        
        <button class="navbar-toggler align-center border-col" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars text-white"></span>
        </button>
        <div class="row bg-main text-white collapse navbar-collapse" id="navbarText">
            <div class="col col-xs-12 header pt-3 pb-3">
                <div class="row">
                    <a class="text-center col-md-3 p-2 text-white" href="/">Home</a>
                    <div class="text-center col-md-3 p-2">Services</div>
                    <div class="text-center col-md-3 p-2">About</div>
                    <div class="text-center col-md-3 p-2">Contact Us</div>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <router-outlet></router-outlet>
</body>
<footer class="bg-main p-3">
    <div class="row">
        <div class="col-lg-6">
            <nav>
                <ul class="pl-0 pl-md-5">
                    <li><a class="text-white" href="#"><h3>Logo Here</h3></a></li>
                    <li><a class="text-white" href="#">Home</a></li>
                    <li><a class="text-white" href="#">About Us</a></li>
                    <li><a class="text-white" href="#">Services</a></li>
                    <li><a class="text-white" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-6">
            <nav>
                <ul class="pl-0 pl-md-3">
                    <li><a class="text-white" href="#"><h3>Services</h3></a></li>
                    <li><a class="text-white" href="#">Logistics</a></li>
                    <li><a class="text-white" href="#">Truck Rental</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <p class="text-center text-white">&copy; 2024 Your Company. All rights reserved.</p>
</footer>